h1 {
    color:red;
    text-align: center;
}

h2 {
    color:blue;
    font-size: 25px;
}

p {
    background-color: gray;
}

strong {
    color:yellowgreen;
    font-weight: initial;
}

em {
    font-style: initial;
    text-decoration: underline;
    font-size: large;
    color:orange;
}

.paragraphe {
    background-color: pink;
}

#titre {
    color:green;
    text-decoration: underline;
    text-align: right;
}